<header>
	<h1 id="mainTitle">{{title}}</h1>
</header>
<p id="mainPara">{{content}}</p>
<p>
	Here is a value that will get updated: <span id="updateMe">10,000</span>
</p>
<form id="ajaxForm" method="post" action="">
	<label for="name">Name</label><input type="text" name="name" value="{{formValue}}" id="name">
	<input type="submit" name="some_name" value="Submit" id="some_name">
</form>
<br>
<a href="#" class="updatePage">Update Page</a> 
<a href="#" class="updateTemplate">Update Template</a>